.form {
	padding: 100px 15px;
	background-color: rgb(50, 57, 105);

	display: flex;
	flex-direction: column;
    align-items: center;
    
    .pre-title {
        font-family: Exo_Thin;
          font-size: $mainFontSize;
          font-weight: 700;
          color: rgb(255, 109, 109);
          margin-bottom: $mainFontSize;
          letter-spacing: 3.2px;
    }

    h2 {
        font-size: $h2FontSize;
        font-family: Exo_Thin;
        font-weight: 700;
        letter-spacing: 1.6px;
        color: 	white;
        margin-bottom: 45px;
        text-align: center;	
    }

    form {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap;
        margin-bottom: 52px;

        max-width: 1200px;
        width: 100%;

        input {
            background-color: #464c77;
            border-radius: 3px;
            border: solid 1px 
            rgb(255, 255, 255);
            padding-left: 29px;
            max-width: 262px;
            width: 100%;
            height: 49px;
        
            color: white;
            font-family: Exo_Thin;
            font-size: $mainFontSize;	
        
            &::placeholder {
                color: white;
                font-family: Exo_Thin;
                font-size: $mainFontSize;	
            }
        }
    }

    .button-block {

        width: 260px;

        .pre-button {
            display: flex;
            align-items: flex-start;

            padding-bottom: 20px;

            .arrow {
                display: inline-block;
                width: 15px;
                height: 35px;

                margin-right: 15px;

                background: url(../image/arrow.png) left bottom/contain no-repeat;
            }

            .pre-button-text {
                display: inline-block;
                font-family: Exo_Thin;
                color: white;
                font-size: $mainFontSize;
                font-weight: 300;
            }
        }
        
        button {
            position: relative;
        
            color: white;
            font-family: Exo_Thin;
            text-align: center;
            background-color: $buttonColor;
            border-radius: 3px;
            height: 50px;


            width: 100%;

            @include buttonTransition;

            &:hover {
                cursor: pointer;
                background-color: $buttonHoverColor;
            }
        }

    }

    .terms {
        font-family: Exo_Thin;
        color: white;
        font-size: $mainFontSize;
        font-weight: 500;
        text-align: center;

        a {
            color: white;
            text-decoration: underline;
        }
    }
}


@media (max-width:768px) {
    .form {
        form {
        display: flex;
        flex-direction: column;
        align-items: center;  
    
            input {
                margin-bottom: 30px;
            }

            .button-block {
                .pre-button {
                    margin-top: 0;
                }
            }
        }
    }
}

@media (max-width: 1100px) {
    .form {
        form {
            max-width: 550px;
        }
        .button-block {
            .pre-button {
                margin-top: 20px;
            }
        }

    }
}